div(style="text-align: center; padding-top:0%")
	lf-ng-md-file-input(lf-files="fileInAct", drag='', preview='', lf-browse-label="Browse", lf-remove-label="Clear", lf-drag-and-drop-label="Drop Inactive.csv file here")
		md-tooltip(md-direction="bottom") Browse for CSV file
div(style="text-align: center; padding-top:0%")
	lf-ng-md-file-input(lf-files="fileAct", drag='', preview='', lf-browse-label="Browse", lf-remove-label="Clear", lf-drag-and-drop-label="Drop Active.csv file here")
		md-tooltip(md-direction="bottom") Browse for CSV file