md-card
	md-card-actions(layout="row", layout-align="start center")
		home-button
		span(flex='')
		md-button(class="md-raised md-primary", ng-click="openChart()") Chart
		span(flex='')
		md-button(class="md-raised md-primary", ng-click="createXLSX()", style="background-color: #207347;") Create XLSX
md-card
	md-toolbar.md-table-toolbar.md-default
		.md-toolbar-tools
			md-select(ng-model="ipSelect")
				md-option(ng-repeat="item in data track by $index", value="{{item.location}}") {{item.location}}
			span(flex='')
			md-select(ng-model="filter")
				md-option(ng-repeat="opt in filterOpt", value="{{opt}}") {{opt}}
	md-table-container
		table(md-table='', md-progress='promise')
			thead(md-head='')
				tr(md-row='')
				th(md-column='', ng-repeat='colHead in tableHead track by $index') {{colHead}}
			tbody(md-body='', ng-repeat='row in data | filter: {location : ipSelect} track by $index')
				tr(md-row='', ng-repeat='value in row.value')
					td(md-cell='') {{row.location}}
					td(md-cell='') {{value.time}}
					td(md-cell='') {{value.downtime}}
			tfoot(md-foot='')
				tr(md-row='')
				td(md-cell='')
				td(md-cell='')
					strong Downtime Percentage:
						| {{downtimePercent}}
				td(md-cell='', colspan='6')