md-toolbar
	.md-toolbar-tools
		| Table
		span(flex='')
		md-button(class="md-raised md-primary", ng-click="openChart()", style="background-color: darkred;") Chart
		md-button(class="md-raised md-primary", ng-click="createXLSX()", style="background-color: #207347;") Create XLSX
md-card
	md-toolbar.md-table-toolbar.md-default
		.md-toolbar-tools
			md-select(ng-model="ipSelect", aria-label="Select location")
				md-option(ng-repeat="item in data track by $index", value="{{item.index}}") {{item.index}}
			span(flex='')
			| From
			md-datepicker(ng-model="fromDate" md-placeholder="Enter date") 
			| to 
			md-datepicker(ng-model="toDate" md-placeholder="Enter date")
	md-table-container
		table(md-table='', md-progress='promise')
			thead(md-head='')
				th(md-column='', ng-repeat='colHead in tableHead track by $index') {{colHead}}
			tbody(md-body='', ng-repeat='row in data | filter: {index : ipSelect} track by $index')
				tr(md-row='', ng-repeat='value in row.value | filter: dateFilter')
					td(md-cell='') {{row.location}}
					td(md-cell='') {{row.ip}}
					td(md-cell='') {{value.up | date:'medium'}}
					td(md-cell='') {{value.down | date:'medium'}}
					td(md-cell='') {{value.downtime.time}} min
			tfoot(md-foot='')
				tr(md-row='')
				td(md-cell='')
				td(md-cell='')
					strong Downtime Percentage:
						| {{downtimePercent}}
				td(md-cell='', colspan='6')
					