md-card
	md-toolbar.md-table-toolbar.md-default
		.md-toolbar-tools
			md-select(ng-model="ipSelect", aria-label="Select Location")
				md-option(ng-repeat="item in data track by $index", value="{{item.index}}") {{item.index}}
			span(flex='')
			| From
			md-datepicker(ng-model="fromDate" md-placeholder="Enter date") 
			| to 
			md-datepicker(ng-model="toDate" md-placeholder="Enter date")
div
	nvd3(options="options", data="chartData")